<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guilherme.abuproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Onde"
            android:label="@string/title_activity_onde" >
        </activity>
        <activity
            android:name=".QuemSomos"
            android:label="@string/title_activity_quem_somos" >
        </activity>
        <activity
            android:name=".RedesSociais"
            android:label="@string/title_activity_redes_sociais" >
        </activity>
    </application>

</manifest>
